body {
    font-family: sans-serif;
    background-color: rgb(223, 223, 223);
    background-color: #FD7279;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    background-color: black;
    padding: 10px 0px;
    display:flex;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 5px;
    font-size: 24px;
    border-radius: 10px;
    float: right;
}

nav {
    border-top: 5px solid rgb(217, 255, 0);
    border-bottom: 5px solid rgb(229, 255, 0);
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: rgb(255, 251, 0);
    text-decoration: none;
    background-color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display:flex;
}

article {
    background-color: white;
    padding: ;
    width: 400px;
    margin: ;
}

.article-but {
    text-decoration: none;
    background-color: rgba(2, 238, 42, 0.733);
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: white;
    padding: ;
    display:flex;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
